#task-form-dialog,
#project-form-dialog {
  border-radius: .85rem;
}

#task-form,
#project-form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin: 1.5rem;
}

#task-form > div,
#project-form > div {
  margin: 0.45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#task-form > div > input,
#project-form > div > input {
  margin-left: 1rem;
  min-height: 1.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  &:focus{
    border: 0.1rem solid palegoldenrod;
    #task-form > div > label{
      color: red;
    }
  }
}

#task-form > div > label,
#project-form > div > label {
  font-size: 1.2rem;
}

#task-submit,
#project-submit {
  min-height: 2rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
}

#project-submit {
  margin-top: 1rem;
}

.prio-field{
  display: flex;
  align-items: center;
}
  
#low:checked + #low-text {   
  color:green;
  font-size: 1.2rem;
}

#medium:checked + #medium-text {
  color: orange;
  font-size: 1.2rem;
}

#high:checked + #high-text {
  color: red;
  font-size: 1.2rem;
}

.date {
  display: flex;

}

.date > input {
  max-width: 2.5rem;
  margin-inline: 0.5rem;
  text-align: center;
}
