.dropdown {
  display: flex;  
  align-items: center;
  align-self: center;
  margin-block: 0.5rem;
  border: 3px solid black;
  border-radius: 0.25rem;
  transition: height 1s;
  min-width: 100%;
  max-width: 100%;
  &:hover{
    height: 100%;
  }
}

.dropdown > *{
  width: 100%;
  margin-bottom: 0.1rem;
  border-radius: 0.25rem;
  transition: height 5s;
  min-height: 5rem;
}

.existing-projects {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.existing-projects > *:not(:first-child)  {
  visibility: hidden;
  transition:  visibility 1s;
}

.dropdown:hover > *:not(:first-child),
.dropdown:hover > .existing-projects > *:not(:first-child)  {
  visibility: visible;
}

.dropdown:hover > .existing-projects {
  height: 100%;
}

.project {
  width: auto;
  margin-right: 1rem;
  font-size: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 0 5rem 5rem 0;
  background-color: whitesmoke;
}

.existing-projects > *:not(:last-child){
  margin-bottom: 0.1rem;
}

#btn-new-project {
  max-width: 6rem;
  font-size: 3rem;
  clip-path: polygon(60% 0, 60% 40%, 100% 40%, 100% 60%, 60% 60%, 60% 100%, 40% 100%,
  40% 60%, 0 60%, 0 40%, 40% 40%, 40% 0);
  transition: clip-path 1s ease-in-out 1.5s;
  border-radius: 50%;
  border: none;
  &:hover {
    font-size: 1rem;
    clip-path: circle(7rem);
    border-radius: 1rem;
  }
}
