body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width:720px ) {
  body{
    background-image: url("./odo.jpg");
  }
}

@media (min-width: 720px) {
  body{
  background-image: url("./wood-x1.jpg");
  background-repeat: repeat-y;
  /* background-position-y: -5rem; */
  }
  
}