.container {
  border: 3px solid hotpink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-inline: 0.5rem;
  padding-bottom: 2rem;
}

.task-card {
  border: 2px solid grey;
  margin-inline: 0.75rem;
}

.task-title {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  padding-inline: 0.25rem;
}

.task-body {
  padding-inline: 0.25rem;
}

.new-task {
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5rem dashed grey;
  background-color: black;
  font-size: 1rem;
  scale: 0.9;
  &:hover{
    scale: 1;
    font-size: 1.2rem;
  }
}

@media (max-width: 580px) {
  .task-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .task-body{
    padding-inline: 0.75rem;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 0.5rem;
  border: 3px solid sandybrown;
}

.dropdown > *{
  width: 100%;
  margin-bottom: 0.1rem;
}