.container {
  margin-top: 5rem;
  /* border: 3px solid goldenrod; */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  min-width: 16rem;
  max-width: 60vw;
}

.task-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-inline: 0.5rem;
  padding-bottom: 2rem;
}

.task-card {
  border: 2px solid grey;
  border-radius: 4rem;
  min-height: 15rem;
  min-width: 5rem;
  max-width: 12rem;
  margin-inline: 0.75rem;
  margin-block-start: 1rem;
  margin-block-end: 3rem;
  &:hover{
    display: grid;
    grid-template-columns: 1fr 10fr;
  }
}

.date {
  min-height: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: ghostwhite;
}

.prio {
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: none;
  text-align: center;
  position: relative;
  top: 2rem;
  height: 60%;
  border-radius: 4rem;
}

.task-card:hover .prio {
  display: block;
}

.task-card:hover .task-title {
  border-radius: 1rem 3rem 0 0 ;
}

.low {
  background-color: rgb(9, 148, 9);
}

.medium {
  background-color: hsl(36, 83%, 50%);
}

.high{
  background-color: hsl(0, 88%, 44%);
}

.low-prio-task {
  border-left: 0.5rem solid rgb(9, 148, 9);
  box-shadow: inset -0.5rem 0.01rem rgb(9, 148, 9);
  &:hover{
    box-shadow: 11px 10px 15px rgb(9, 148, 9);
  }
}

.medium-prio-task {
  border-left: 0.5rem solid hsl(36, 83%, 50%);
  box-shadow: inset -0.5rem 0.01rem hsl(36, 83%, 50%);
  transition: box-shadow 1s ease-in-out, border 1s ease-in-out;
  &:hover{
    box-shadow: 11px 15px 20px hsl(36, 83%, 50%);
  }
}

.high-prio-task {
  border-left: 0.5rem solid hsl(0, 88%, 44%);
  box-shadow: inset -0.5rem 0.01rem hsl(0, 88%, 44%);
  &:hover{
    box-shadow: 11px 20px 30px hsl(0, 88%, 44%);
  }
}

.task-title {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  padding-inline: 0.25rem;
  border-radius: 0 3rem 0 0;
  min-height: 4rem;
  max-height: 6rem;
  background-color: rgb(83, 12, 226);
}

.task-body {
  padding-inline: 0.25rem;
  margin-left: 0.75rem;
  font-size: 1.2rem;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; 
           line-clamp: 4;
   -webkit-box-orient: vertical;
}

#btn-new-task {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5rem dashed grey;
  background-color: black;
  font-size: 1rem;
  min-height: 10rem;
  max-height: 15rem;
  border-radius: 50%;
  transition: border-radius 0.5s linear 0.5s;
  transition: scale 0.75s linear 0.65s;
  transition: background-image 0.65s linear 0.57s ;
  transition: border 0.01s linear 0.01s ;
  scale: 0.9;
  &:hover{
    scale: 1;
    font-size: 1.2rem;
    border-radius: 0 4rem 30% 30%;
    background-image: linear-gradient(180deg, rgb(83, 12, 226),black,  black,black);
    border: 0.3rem solid  grey;
  }
}

@media (max-width: 880px) {
  .task-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1500px) {
  .task-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 720px) {
  .task-list {
    display: flex;
    flex-direction: column;
  }
}