.container {
  margin-top: 15rem;
  border: 3px solid goldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  min-width: 16rem;
  max-width: 60vw;
}

.task-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-inline: 0.5rem;
  padding-bottom: 2rem;
}

.task-card {
  border: 2px solid grey;
  margin-inline: 0.75rem;
  margin-block-start: 1rem;
  margin-block-end: 3rem;
  &:hover{
    display: grid;
    grid-template-columns: 1fr 10fr;
  }
}

.prio {
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: none;
  text-align: center;
  height: 100%;
}

.task-card:hover .prio {
  display: block;
}

.low {
  background-color: rgb(9, 148, 9);
}

.medium {
  background-color: hsl(36, 83%, 50%);
}

.high{
  background-color: hsl(0, 88%, 44%);
}

.low-prio-task {
  border-left: 0.5rem solid rgb(9, 148, 9);
}

.medium-prio-task {
  border-left: 0.5rem solid hsl(36, 83%, 50%);
}

.high-prio-task {
  border-left: 0.5rem solid hsl(0, 88%, 44%);
}

.task-title {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  padding-inline: 0.25rem;
}

.task-body {
  padding-inline: 0.25rem;
}

#btn-new-task {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5rem dashed grey;
  background-color: black;
  font-size: 1rem;
  scale: 0.9;
  &:hover{
    scale: 1;
    font-size: 1.2rem;
  }
}

@media (max-width: 580px) {
  .task-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .task-body{
    padding-inline: 0.75rem;
  }
}
